* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(33, 134, 33);
    --canada-color: #ff0000;
    --margin-spacing: 2rem;
    --border-color: black;
    --text-color: black;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--border-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
}

aside img {
    width: 200px;
    height: auto;
}

main {
    max-width: 840px;
    grid-column: 2 / 3;
    margin: 1rem;
}

aside {
    position: relative;
    width: 20rem;
    border: 5px solid var(--canada-color);
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 120px;
}

p {
    padding: 0;
}

footer {
    margin-top: var(--margin-spacing);
    border-top: 2px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: var(--margin-spacing);
    padding: 1rem;
    background-color: #eee;
    color: var(--text-color);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}