nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: blue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

aside img {
    width: 200px;
    height: auto;
}

main {
    max-width: 840px;
}

aside {
    width: 40rem;
    margin: 2rem;
    border: 5px solid #ff0000;
    padding: 1rem;
    background-color: #a86767;
    color: #fff;
    text-align: center;
}

p {
    padding: 0;
}

footer {
    margin-top: 50px;
    border-top: 2px solid black;
    text-align: center;
}