* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(33, 134, 33);
    --canada-color: #ff0000;
    --margin-spacing: 2rem;
    --border-color: black;
    --text-color: black;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
}

aside img {
    width: 200px;
    height: auto;
}

main {
    max-width: 840px;
}

aside {
    position: relative;
    width: 40rem;
    border: 5px solid var(--canada-color);
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 320px;
}

p {
    padding: 0;
}

footer {
    margin-top: var(--margin-spacing);
    border-top: 2px solid var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: var(--margin-spacing);
    padding: 1rem;
    background-color: #eee;
    color: var(--text-color);
}